/bard-scrape/node_modules/*
/bard-scrape/public/*
/bard-scrape/routes/*
/bard-scrape/views/*
/bard-scrape/.idea/workspace.xml
**/.idea/tasks.xml

*.log
/bard-server/node_modules/*
/bard-server/public/*
/bard-server/views/*